@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

.title {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("https://globalgamejam.org/sites/default/files/site/bx4xf3uiiaarveg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

.legend {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

fieldset {
  border-color: #3c3c3c;
  border-width: 3px;
  border-radius: 5px;
  margin: 50px;
}