<html>

<body>
  <div>
    <app-navigation-bar></app-navigation-bar>

    <div class="container">
      <form id="contact" action="" method="post">
        <h3>Fromulaire de contact</h3>
        <h4>Nous vous recontactons au plus vite</h4>
        <fieldset>
          <input placeholder="Nom et prénom" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Adresse mail" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Numéro de téléphone (facultatif)" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Votre message" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="Envoyer" data-submit="...Sending">Envoyer</button>
        </fieldset>
      </form>
    </div>

    <app-fat-footer></app-fat-footer>
  </div>
</body>
</html>



