<html>

<body>

<app-admin-navigation-bar></app-admin-navigation-bar>

<h1 align="center">Ajouter un pays</h1>

<form  class="form-style-5">
  <fieldset>
    <legend><span class="number">1</span> Information générale du pays</legend>
    <label for="job">Nom :</label>
    <input type="text" name="field1" placeholder="Nom du pays">
    <label for="job">Drapeau :</label>
    <input type="image" name="field2" placeholder="Drapeau du pays">
    <label for="job">Photo de couverture :</label>
    <input type="image" name="field2" placeholder="Photo de couverture du pays">
    <label for="job">Continent :</label>
    <select id="job" name="field4">
      <optgroup label="Continent">
        <option value="reading">Afrique</option>
        <option value="reading">Amérique du Nord</option>
        <option value="fishkeeping">Amérique du Sud</option>
        <option value="reading">Asie</option>
        <option value="reading">Europe</option>
        <option value="reading">Océanie</option>
      </optgroup>
    </select>

    <label for="job">Logements partenaires :</label>
    <textarea name="field3" placeholder="Liste des logements partenaires"></textarea>

    <legend><span class="number">2</span>Démarches administratives</legend>

    <label for="job">Facilité démarches visa student :</label>
    <form class="rating">
      <label>
        <input type="radio" name="stars" value="1" />
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="2" />
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="3" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="4" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="5" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
    </form>

    <label for="job">Informations des démarches d'obtention visa étudiant :</label>
    <textarea name="field3" placeholder="Démarches d'obtention d'un visa étudiant"></textarea>

    <label for="job">Facilité démarches visa de travail :</label>
    <form class="rating">
      <label>
        <input type="radio" name="stars" value="1" />
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="2" />
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="3" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="4" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
      <label>
        <input type="radio" name="stars" value="5" />
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
      </label>
    </form>

    <label for="job">Informations des démarches d'obtention visa de travail :</label>
    <textarea name="field3" placeholder="Démarches d'obtention visa de travail"></textarea>

    <legend><span class="number">3</span> Description : </legend>
    <textarea name="field3" placeholder="Description du pays"></textarea>
  </fieldset>
  <input type="submit" value="Ajouter le pays" />
</form>

<div class="fatFooter">
  <app-fat-footer></app-fat-footer>
</div>

</body>
</html>

