<app-navigation-bar></app-navigation-bar>

<div class="company-page" *ngIf="company != null">

    <h1>{{company.name}}</h1>

    <fieldset>
        <legend>Information sur la company</legend>
        <table>
            <tr>
                <td class="company-infos-td ">
                    <div class="company-infos">
                        Secteur : {{company.activitySector}}<br>
                        Adresse : {{company.address}}<br>
                        Nombre d'employés : {{company.employeesNumber}} personnes<br>
                        Date de création : {{company.creationDate}}<br>
                        Opportinité d'embauche dans l'entreprise : <a href="{{company.hiringOpportunities}}" target="_blank">{{company.hiringOpportunities}}</a><br>
                        <br>
                        {{company.description}}
                    </div>
                </td>
                <td>
                    <img class="company-image" src={{company.iconImage}} [height]="300"/>
                </td>
            </tr>
        </table>
    </fieldset>

    <br>

    <fieldset>
        <legend>Liste des stages précédemments effectués par des étudiants</legend>
        <div class="internship-array">
            Trié par :
            <select class="custom-select" (change)="internshipListSortChange($event.target.value)">
                <option *ngFor="let sort of sortArray">
                        {{sort}}
                </option>
            </select>

            <br>

            <div class="internshipTickets" id="style-3">
                <div class="internshipTicket" *ngFor="let internship of internshipList">
                    <app-internship-ticket [internship]="internship"></app-internship-ticket>
                </div>
            </div>
        </div>
    </fieldset>
  </div>
<app-fat-footer></app-fat-footer>
