.company-page {
  margin: 50px;
}

.company-infos-td {
width: 100%;
}

.company-infos {
margin: 20px;
font-size: 14px;
line-height: 130%
}

.internship-array {
margin: 20px;
}

.tabulation {
  margin-left: 30px;
}


.company-image {
  height: 300px;
  width: 300px;
  margin: 5px;      
}

td {
vertical-align: top;
}

.company-page.form {
text-align-last: right;
}

.custom-select {
margin: 5px;    
}

.sizeArray {
font-size: 14px;
}

.internshipTickets{
  max-height:500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.internshipTicket{
margin-top: 10px;
}

.legend {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

fieldset {
  border-color: #3c3c3c;
  border-width: 3px;
  border-radius: 5px;
}
.custom-select {
  margin: 5px;    
  margin-right: 20px;
  height: 35px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  font-size: 16px;
}


#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}