@import 'src/styles/card.scss';

.internship {
  display:inline-block;
  width: 99.5%;
  background: whitesmoke;
  border-radius: 10px;
}

.comment {
  font-size: 14px;
  margin-right: 30px;
  width: 100%;
}

.name{
  font-size: 40px;
  font-weight: bold;
  min-width: 230px;
  width: 20%;
}