
.moreInformation
{
  border: solid;
  border-width: 1px;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  left: var(--mouse-x);
  top: var(--mouse-y);

}

.content
{
  margin: 10px;
}

.moreInformation h3
{
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.moreInformation .hover-content
{
  padding: 0;
  line-height: 1.2em;
  font-size: 15px;
}
