<header>
  <div class="navigationBar">
    <a href="http://localhost:4200/homePage">
      <img src="assets/img/polystageLogoWhite.PNG" alt="Polystage" class="logo">
    </a>

    <h1 class="logo"></h1>

    <nav class="listNavigationBar">
      <ul>
        <li><a href="http://localhost:4200/homePage">Accueil</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="http://localhost:4200/contactPage">Contact</a></li>
        <li><a href="http://localhost:4200/adminHomePage">Administrateur</a></li>
      </ul>
    </nav>
  </div>
</header>
