<header>
  <div class="navigationBar">
    <a href="http://localhost:4200/adminHomePage">
      <img src="assets/img/polystageLogoWhite.PNG" alt="Polystage" class="logo">
    </a>
    <h1 class="logo"></h1>

    <nav class="listNavigationBar">
      <ul>
        <li><a href="http://localhost:4200/adminHomePage">Accueil</a></li>
        <li><a href="http://localhost:4200/adminAjouterStage">Ajouter stage</a></li>
        <li><a href="http://localhost:4200/adminAjouterEntreprise">Ajouter entreprise</a></li>
        <li><a href="http://localhost:4200/adminAjouterPays">Ajouter pays</a></li>
        <li><a href="http://localhost:4200/homePage">Client</a></li>
      </ul>
    </nav>
  </div>
</header>
