<div class="internship" *ngIf="student != null">
  <table>
    <tr>
      <td class="name">
        {{internship.name}}
      </td>
      <td class="comment" rowspan="3">
        {{internship.comment}}
      </td>
      <td rowspan="3">
        <app-student-ticket [student]="student"></app-student-ticket>
      </td>
    </tr>
    <tr>
      <td class="duree">
        Durée : {{internship.period}}
      </td>
    </tr>
    <tr>
      <td class="note">
        <i *ngFor="let item of ratingFullStarsArray" class="fas fa-star" style="font-size: 2em;"></i>
        <i *ngIf="existHalfStar === true" class="fas fa-star-half-alt" style="font-size: 2em;"></i>
        <i *ngFor="let item of ratingEmptyStarsArray" class="far fa-star" style="font-size: 2em;"></i>
      </td>
    </tr>
  </table>
</div>
