@import 'src/styles/card.scss';

.company {
  width: 99.5%;
  background: whitesmoke;
  border-radius: 10px;
}

.company:hover {
  cursor: pointer;
  background-color: lightgray;
}

.table{
  width: 100%;
}

.icon {

  height: 200px;
  width: 200px;
}

.name{
  font-size: 40px;
  font-weight: bold;
  min-width: 300px;
}

.nbStage{
  text-align: right;
  vertical-align: top;
}

.note{
  text-align: right;
  min-width: 230px;
  width: 20%;
}

.secteur{
  color: grey;
  vertical-align: top;
}

.address{
  font-size: 14px;
}
