<div class="internship" *ngIf="student != null">
  <table>
    <tr>
      <td>
        Id : {{internship.id}}<br>
        Nom : {{internship.name}}<br>
        Nom de l'entreprise : {{companyName}}<br>
        Du {{internship.startDate}}
        au {{internship.endDate}}
        => {{internship.period}}<br>
        Contrat renouvelé : {{internship.contractRenewed}}<br>
        Salaire : {{internship.salary}}<br>
        Voiture de fonction : {{internship.hasCompanyCar}}<br>
        Tuteur : {{internship.tuteur}}<br>
        Note : {{internship.rating}}<br>
        Commentaire : {{internship.comment}}<br>
        Date de la requete : {{internship.requestDate}}
      </td>
      <td>
        <app-student-ticket [student]="student"></app-student-ticket>
      </td>
    </tr>
  </table>
</div>
