<header>
  <div class="navigationBar" *ngIf="user != null">
    <a href="http://localhost:4200/adminHomePage">
      <img src="assets/img/polystageAdminLogoWhite.PNG" alt="Polystage" class="logo">
    </a>
    <h1 class="logo"></h1>

    <nav class="listNavigationBar">
      <ul>
        <li><a href="http://localhost:4200/adminHomePage">Accueil</a></li>
        <li><a href="http://localhost:4200/ajouterAdminStage">Ajouter stage</a></li>
        <li><a href="http://localhost:4200/ajouterAdminEntreprise">Ajouter entreprise</a></li>
        <li><a href="http://localhost:4200/gestionDisponibilites">Gérer vos disponibilités</a></li>
        <li><a href="http://localhost:4200/attenteEntretient">Pret pour un entretient</a></li>
        <li><a (click)='deconnection()'>Deconnexion</a></li>
      </ul>
    </nav>
  </div>
</header>
